{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="/bundles/easyadmin/app.css" rel="stylesheet" />
    <link href="../favicon-32x32.png" rel="icon" />
{% endblock %}
{% block title %}DocThor - Link zmiany hasła został wysłany{% endblock %}

{% block body %}
    <center>
    <a href="/admin"><h1><img src="../thor.png">DocThor</h1></a><br><br>
    <h3 class="h3 mb-3 font-weight-normal">Zresetuj hasło</h3>
   
    <p>
        Jeżeli istnieje konto połączone z podanym adresem email, zostanie wysłana wiaodmość email zawierający link resetowania hasła.
        Link przedawni się za {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Jeśli nie widzisz wiadomości email, sprawdź folder SPAM lub <a href="{{ path('app_forgot_password_request') }}">spróbuj ponownie</a>.</p>
{% endblock %}
