{% extends 'base.html.twig' %}

{% block title %}Docthor - zresetuj hasło{% endblock %}

{% block body %}
   <center>
    <h1><img src="../thor.png">DocThor</h1>
    <h3 class="h3 mb-3 font-weight-normal">Zresetuj hasło</h3>


    {{ form_start(resetForm) }} 
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Resetuj</button>
    {{ form_end(resetForm) }}
{% endblock %}
