{% extends 'base.html.twig' %}
{% block stylesheets %}
     <link href="/bundles/easyadmin/app.css" rel="stylesheet" />
{% endblock %}
{% block title %}DocThor - zresetuj hasło{% endblock %}

{% block body %}
   <center>
    <h1><img src="../thor.png">DocThor</h1><br><br>
    <h3 class="h3 mb-3 font-weight-normal">Zresetuj hasło</h3>


    {{ form_start(resetForm) }} 
        {{ form_row(resetForm.plainPassword, {'class': 'form-control'}) }}
        <br><button class="btn btn-primary">Resetuj</button>
    {{ form_end(resetForm) }}
{% endblock %}
