 {#{{} dump() }}

<style>
ul li{
    display:none;
}
ul li:hover li{
    display: block;
}
</style>#}


<a href="{{ field.formattedValue }}"><i class="fa fa-download" aria-hidden="true"></i>
Pobierz</a><br>


<embed src="{{ field.formattedValue }}" width="80%" height="600" >